.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form-container > div {
    width: 100%;
    min-width: 25ch;
    max-width: 40ch;
  }
  
  .form-input {
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .form-input-label {
  }

  .form-input-error {
    width: 90%; 
    color: red;
  }

  .form-button {
    width: 95%;
    height: 100%;
    max-width: 15ch;
    padding: 10px;
    margin: 20px 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-button:hover {
    background-color: var(--secondary-color);
  }