*,
*::before,
*::after {
	box-sizing: border-box;
}
 
* {
	margin: 0;
	padding: 0;
}


body{
    background-color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 1800) { 
    html { 
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 1800) { 
    html { 
        font-size: 1.6rem; 
    }
}
@media only screen and (max-width: 1500px) { 
    html { 
        font-size: 1.3rem; 
    }
}

@media only screen and (max-width: 1100px) { 
    html { 
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 950px) { 
    html { 
        font-size: 1.1rem; 
    }
}
@media only screen and (max-width: 600px) { 
    html { 
        font-size: 1rem; 
    }
}
@media only screen and (max-width: 550px) { 
    html { 
        font-size: .8rem; 
    }
}
@media only screen and (max-width: 500px) { 
    html { 
        font-size: .6rem; 
    }
}



.page-container {
    max-width: 1500px;
    padding: 0 1rem;
}

    
ul li {
    padding: 0;
    margin: 0 0 0 30px;
}


h1 {
    text-align: center;
}

p {
    max-width: 60ch;
}

.menu-bar {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    gap: 1.5rem;
    font-size: 1rem;
}
@media only screen and (max-width: 1000px) { 
    .menu-bar { 
        flex-wrap: wrap;
        
    }
}
@media only screen and (max-width: 1000px) { 
    .menu-bar { 
        justify-content: center;
        padding: 1rem .5rem 0 .5rem;
        gap: 2rem;
    }
}

    .menu-item {
        height: 100%;
        width: auto;
        flex-shrink: 0;
        font-size: 1rem;
        margin: 0 1rem;
        justify-content: center;
    }
    @media only screen and (max-width: 1000px) { 
        .menu-item { 
            margin: 0 0;
        }
    }

    .menu-item img {
        height: 3rem;
        width: auto;
    }

    .menu-logo {
        flex-shrink: 0;
    }

    
    .menu-title {
        flex-shrink: 0;
        margin-bottom: .4rem;
    }
    @media only screen and (max-width: 1000px) { 
        .menu-title { 
            display: none;
        }
    }
    

    .menu-waitlist-div {
        flex-shrink: 0;
        height: 2.5rem;
        width: 17ch;
        margin-bottom: .5rem;
        margin-top: 0;
    }

    .menu-button {
        height: 100%;
        width: 12ch;
        font-size: 1rem;
        background-color: rgb(139, 74, 139);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }
    .menu-button:hover {
        background-color: rgb(110, 58, 110);
    }


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    h1 {
        text-align: left;
    }

.menu-title-shifted {
    display: none;
    margin-bottom: 0;
    padding: 0 1rem;
    width: 100%;
    color: white;
    align-self: center;
}
@media only screen and (max-width: 1000px) { 
    .menu-title-shifted { 
        display: flex;
        justify-content: center;
    }
}
/* 350px; */
.content-row{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
}

    .content-row h1 {
        color:rgb(139, 74, 139);
        width: 100%;
        align-self: left;
    }

    .content-row h2 {
        font-size: 1em;
    }

    .content-row > div {
        height: 100%;
        width: 100%;
    }

    .vertical{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .horizontal{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .contact-us {
        width: 90%;
        height: 5rem;
        color: grey;
        display: flex;
        flex-direction: column;
        align-items: left;
    }


    .rechart {
        height: 80vh;
        min-height: 400px;
        max-height: 1200px;
        width: 80vh;
        max-width: 100vw;
        font-size: 1rem;
        padding: 20px 0;
    }

    .how-it-works {
        gap: 40px;
        width: 80%;
        justify-content: space-around;
        margin-bottom: 70px;
    }


    .how-we-get {
        height: 150px;
        min-height: 150px;
        margin-bottom: 70px;
    }
        .how-we-get p {
            margin-left: 3.1em;
        }



    .join-waitlist-container {
    }



.two-cols {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-left: 1rem;
    height: 15rem;
    flex-wrap: wrap;
}

    .two-cols .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0 .2rem;
        gap: .05rem .2rem;
        width: 14rem;
        height: 5rem;
        margin-bottom: 1rem;
    }

        .two-cols .column-item {
            width:100%;
        }

            .two-cols .indent {
                margin-left: 1.7rem;
            }

.three-cols {
    display: flex;
    justify-content: space-around;
    height: 15rem;
    padding-left: 3rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
    .three-cols { /* turns these columns into rows */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
     


.form-button {
    width: 95%;
    height: auto;
    background-color: rgb(139, 74, 139);
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-button:hover {
    background-color: rgb(110, 58, 110);
  }




.tooltiptext {
   color: white;
}

/*background-color: rgb(1, 1, 1, .1);*/
.custom-tooltip {
    background-image: radial-gradient(black 0%, transparent 100%);
    position: 'absolute';
    top: 0;
    left: 0;
}

