*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
    --primary-color: #f67ed2; /* rgb(139, 74, 139) */
    --secondary-color: rgb(218, 109, 185); /* rgb(110, 58, 110) */
    
}

 
* {
	margin: 0;
	padding: 0;
}



body{
    background-color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 1800) { 
    html { 
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 1800) { 
    html { 
        font-size: 1.6rem; 
    }
}
@media only screen and (max-width: 1500px) { 
    html { 
        font-size: 1.3rem; 
    }
}

@media only screen and (max-width: 1100px) { 
    html { 
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 950px) { 
    html { 
        font-size: 1.1rem; 
    }
}
@media only screen and (max-width: 600px) { 
    html { 
        font-size: 1rem; 
    }
}
@media only screen and (max-width: 550px) { 
    html { 
        font-size: .9rem; 
    }
}
@media only screen and (max-width: 500px) { 
    html { 
        font-size: .9rem;
    }
}

@media screen and (max-width: 450px) { 
    /* anything this small can't scroll to the sides, 
    content outside of the viewport is hidden*/
    html, body {
        overflow-x: hidden;
    }
}


.page-container {
    max-width: 1500px;
    padding: 0 1rem;
}

    
ul li {
    padding: 0;
    margin: 0 0 0 30px;
}


h1 {
    text-align: center;
}

p {
    max-width: 60ch;
}

.menu-bar {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    gap: 1.5rem;
    font-size: 1rem;
}
@media only screen and (max-width: 1000px) { 
    .menu-bar { 
        flex-wrap: wrap;
        
    }
}
@media only screen and (max-width: 1000px) { 
    .menu-bar { 
        justify-content: center;
        padding: 1rem .5rem 0 .5rem;
        gap: 2rem;
    }
}

    .menu-item {
        height: 100%;
        width: auto;
        flex-shrink: 0;
        font-size: 1rem;
        margin: 0 1rem;
        justify-content: center;
    }
    @media only screen and (max-width: 1000px) { 
        .menu-item { 
            margin: 0 0;
        }
    }

    .menu-item img {
        height: 3rem;
        width: auto;
    }

    .menu-logo {
        flex-shrink: 0;
    }

    
    .menu-title {
        flex-shrink: 0;
        margin-bottom: .4rem;
    }
    @media only screen and (max-width: 1000px) { 
        .menu-title { 
            display: none;
        }
    }
    

    .menu-waitlist-div {
        flex-shrink: 0;
        height: 2.5rem;
        width: 17ch;
        margin-bottom: .5rem;
        margin-top: 0;
    }

    .menu-button {
        height: 100%;
        width: 12ch;
        font-size: 1rem;
        background-color: var(--primary-color); 
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }
    .menu-button:hover {
        background-color: var(--secondary-color);
    }


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    h1 {
        text-align: left;
    }

.menu-title-shifted {
    display: none;
    margin-bottom: 0;
    padding: 0 1rem;
    width: 100%;
    color: white;
    align-self: center;
}
@media only screen and (max-width: 1000px) { 
    .menu-title-shifted { 
        display: flex;
        justify-content: center;
    }
}
/* 350px; */
.content-row{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: 100%;
}

    .content-row h1 {
        color: var(--primary-color);
        width: 100%;
        align-self: left;
    }

    .content-row h2 {
        font-size: 1em;
    }

    .content-row > div {
        height: 100%;
        width: 100%;
    }

    .vertical{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .horizontal{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .contact-us {
        width: 90%;
        height: 5rem;
        color: grey;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .rechart {
        height: calc(80 * var(--vh));
        width:100%;
        max-width: 1000px;
        max-height: 1000px;
        font-size: 1rem;
        padding: 1rem;
        padding-bottom: .5rem;
    }
    @media only screen and (max-width: 1700px) and (orientation: landscape) { 
        .rechart {
            height: calc(100 * var(--vh));
            width: calc(100 * var(--vh));
            max-width: 100vw;
        }
    }
    @media only screen and (max-width: 1000px) and (orientation: landscape) { 
        .rechart {
            height: calc(80 * var(--vh));
            width: calc(100 * var(--vh));
            max-width: 100vw;
        }
    }
    @media only screen and (max-width: 900px) and (orientation: landscape) { 
        .rechart {
            height: calc(70 * var(--vh));
            width: calc(105 * var(--vh));
            max-width: 100vw;
        }
    }
    @media only screen and (max-width: 500px) and (orientation: landscape) { 
        .rechart {
            height: calc(70 * var(--vh));
            width: calc(110 * var(--vh));
            max-width: 100vw;
        }
    }
    @media only screen and (max-width: 500px) and (orientation: vertical) { 
        .rechart {
            height: calc(85 * var(--vh));
            width: calc(110 * var(--vh));
            max-width: 100vw;
        }
    }

        .rechart-slider {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            justify-content: center;
            width: 75%;
            margin: 0 0 0 14%;
        }
        @media only screen and (max-width: 1000px) { 
            .rechart-slider {
                font-size: .7rem;
            }
        }
        @media only screen and (max-width: 700px) { 
            .rechart-slider {
                font-size: .55rem;
            }
        }
        @media only screen and (max-width: 500px) { 
            .rechart-slider {
                font-size: .5rem;
            }
        }
        @media only screen and (max-width: 500px) and (min-height: 500px) { 
            .rechart-slider {
                font-size: .9rem;
            }
        }

    .how-it-works {
        gap: 40px;
        width: 80%;
        justify-content: space-around;
        margin-bottom: 70px;
    }


    .how-we-get {
        height: 150px;
        min-height: 150px;
        margin-bottom: 70px;
    }
        .how-we-get p {
            margin-left: 3.1em;
        }



    .join-waitlist-container {
    }



.two-cols {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-left: 1rem;
    height: 15rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 550px) {
    .two-cols {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        padding-left: 1rem;
        height: 15rem;
        flex-wrap: wrap;
    }
}

    .two-cols .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 0 .2rem;
        gap: .05rem .2rem;
        width: 14rem;
        height: 5rem;
        margin-bottom: 1rem;
    }

        .two-cols .column-item {
            width:100%;
        }

            .two-cols .indent {
                margin-left: 1.7rem;
            }

.three-cols {
    display: flex;
    justify-content: space-around;
    height: 15rem;
    padding: 0 2rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1500px) {
    .three-cols { /* turns these columns into rows */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

    .three-cols .vertical {
        gap: 0;
    }

    .three-cols div:has(> img) {
        height: 13rem;
        width: auto;
        max-width: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .three-cols img {
        height: 87%;
        width: auto;
        max-width: 100%;
    }

        .three-cols img.large {
            height: 88%;
            width: 100%;
        }

        .three-cols img.small {
            height: 65%;
        }

    .three-cols p {
        padding:0 0 0 0;
        height:2rem;
    }



.form-button {
    width: 95%;
    height: auto;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .form-button:hover {
    background-color: var(--secondary-color);
  }




.tooltiptext {
   color: white;
}

/*background-color: rgb(1, 1, 1, .1);*/
.custom-tooltip {
    background-image: radial-gradient(black 0%, transparent 100%);
    position: 'absolute';
    top: 0;
    left: 0;
}
@media only screen and (max-width: 700px) {
    .custom-tooltip {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 500px) { 
    .custom-tooltip {
        font-size: .6rem;
    }
}
@media only screen and (max-width: 500px) and (min-height: 500px) { 
    .custom-tooltip {
        font-size: .9rem;
    }
}
